/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #fdfdfd;
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  color: #2c3e50;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  color: white;
  font-size: 1.6rem;
}

.logo span {
  color: #00b894;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #00b894;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #00b894, #2ecc71);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  flex-direction: column;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 15px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero span {
  color: #2c3e50;
}

.hero p {
  max-width: 600px;
  margin: 10px auto;
}

.hero-buttons {
  margin-top: 20px;
}

.btn {
  background-color: white;
  color: #2c3e50;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  margin: 5px;
}

.btn:hover {
  background-color: #2c3e50;
  color: white;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.btn-outline:hover {
  background-color: white;
  color: #2c3e50;
}

/* SECTIONS */
.section {
  padding: 60px 10%;
}

/* SKILLS */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skill {
  background-color: #00b894;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  transition: transform 0.3s;
}

.skill:hover {
  transform: scale(1.1);
  background-color: #2ecc71;
}

/* PROJECTS */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.project-card {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* CONTACT */
#contact p {
  text-align: center;
  font-size: 1.1rem;
  margin: 10px 0;
}

#contact a {
  color: #00b894;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* FOOTER */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
